{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{{ title_prefix }}
{{ title }}
{{ title_suffix }}

{% if header %}
  <header>
    {{ header }}
  </header>
{% endif %}

{{ exposed }}
{{ attachment_before }}

{% if rows -%}
<table class="squad-table">
  <thead>
  <tr>
    <th class="image"></th>
    <th class="title"></th>
    <th class="cost">{{ 'Cost'|t }}</th>
    <th class="sight-range">{{ 'Strength'|t }}</th>
    <th class="sight-range">{{ 'Armor'|t }}</th>
    <th class="sight-range">{{ 'Damage'|t }}</th>
    <th class="sight-range">{{ 'Damage (vet)'|t }}</th>
    <th class="sight-range">{{ 'Reload duration'|t }}</th>
    <th class="sight-range">{{ 'Reload duration (vet)'|t }}</th>
    <th class="sight-range">{{ 'Sight range'|t }}</th>
    <th class="sight-range">{{ 'Sight range (vet)'|t }}</th>
    <th class="sight-range">{{ 'Range of fire'|t }}</th>
    <th class="sight-range">{{ 'Range of fire (vet)'|t }}</th>
    <th class="sight-range">{{ 'Long range pen.'|t }}</th>
    <th class="sight-range">{{ 'Speed'|t }}</th>
    <th class="sight-range">{{ 'Speed (vet)'|t }}</th>
    <th class="sight-range">{{ 'Fraction'|t }}</th>
  </tr>
  </thead>
  <tbody>
  {{ rows }}
  </tbody>
</table>
{% elseif empty -%}
  {{ empty }}
{% endif %}
{{ pager }}

{{ attachment_after }}
{{ more }}

{% if footer %}
  <footer>
    {{ footer }}
  </footer>
{% endif %}

{{ feed_icons }}
